name: Post-merge tasks

on:
  push:
    branches: [ master ]

permissions:
  contents: read
  packages: write

jobs:
  build-publish:

    runs-on: ubuntu-latest

    steps:
      - name: Cancel Workflow Action
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Read .nvmrc
        run: echo "NVMRC=$(cat .nvmrc)" >> $GITHUB_ENV
        id: nvm

      - name: Use Node.js ${{ env.NVMRC }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NVMRC }}
          registry-url: 'https://npm.pkg.github.com'
          scope: '@kallivdh'

      - name: Install
        uses: borales/actions-yarn@v4
        with:
          cmd: install
      
      - name: Build
        uses: borales/actions-yarn@v4
        with:
          cmd: build

      - name: Publish
        uses: borales/actions-yarn@v4
        with:
          cmd: publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}